// Place all the styles related to the Projects controller here.
// They will automatically be included in application.css.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/
.panel-body{
  background-color: rgba(232, 247, 235, 1);
}

.navbar{
  margin-bottom: 0 !important;
}

.navbar-color {
  background-color: rgba(41, 127, 56, 1);
  border-color: rgba(32, 100, 44, 1);

}

a{
  color: rgb(232, 247, 235) !important;
}

.nav > li > a:hover, .nav > li > a:focus {
  text-decoration: none;
  color: rgba(41, 127, 56, 1) !important;
  background-color: rgba(232, 247, 235, 1) !important;
}

h1{
  color: rgb(60, 118, 61) !important;
}

.margin-top{
  margin-top: 80px;
}

.modal-header{
  color:#3c763d;
  padding:9px 15px;
  border-bottom:1px solid #eee;
  background-color: #dff0d8;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.modal-body{
  color: rgba(41, 127, 56, 1);
  background-color: rgba(232, 247, 235, 1)
}

.modal-footer{
  color:#3c763d;
  padding:9px 15px;
  border-bottom:1px solid #eee;
  background-color: #dff0d8;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

textarea {
  resize: none;
}